<div class="container">
<div class="col-lg-4 col-md-4 col-xs-10">
<%= form_for @coordinator do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control form-control-sm", name:"name", :disabled => true %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email, class:"form-control form-control-sm", name:"email", :disabled => true %>
</div>
<div>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class:"form-control form-control-sm", name:"phone_number", :disabled => true %>
</div>
<% end %>
</div>
</div>