<div class="container">
<div class="col-lg-4 col-md-4 col-xs-10">
<%= form_for @participant do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control form-control-sm", name:"name" %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email, class:"form-control form-control-sm", name:"email" %>
</div>
<div>
  <%= f.label :gender %>
  <%= f.text_field :gender, class:"form-control form-control-sm", name:"gender" %>
</div>
<div>
  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth, class:"form-control form-control-sm", name:"date_of_birth" %>
</div>
<div>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class:"form-control form-control-sm", name:"phone_number" %>
</div>
<div>
  <%= f.label :method_of_contact %>
  <%= f.text_field :method_of_contact, class:"form-control form-control-sm", name:"method_of_contact" %>
</div>
<div>
  <%= f.label :Coordinator %>
  <%= f.text_field :Coordinator, class:"form-control form-control-sm", name:"Coordinator" %>
</div>
<div>
  <%= f.label :remarks %>
  <%= f.text_area :remarks, class:"form-control form-control-sm", name:"remarks" %>
</div>
<div>
  <%= f.submit :Update, class:"btn btn-sm btn-success" %>
</div>
<% end %>
</div>
</div>