<div class="container">
<div class="col-lg-4 col-md-4 col-xs-10">
<%= form_for @registry do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control form-control-sm", name:"name", :disabled => true %>
</div>
<div>
  <%= f.label :location %>
  <%= f.text_field :location, class:"form-control form-control-sm", name:"location", :disabled => true %>
</div>
<div>
  <%= f.label :state %>
  <%= f.text_field :state, class:"form-control form-control-sm", name:"state", :disabled => true %>
</div>
<% end %>
</div>
</div>